# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.apk
*.ap_
*.dex
*.class

# iOS/macOS
.DS_Store
.idea/
.vscode/
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Web
build/web/

# Project
.env
*.db
*.db-journal
